<div class="small-9 small-offset-3 columns"><h1>Editing product</h1></div>


<%= render 'form' %>

<!--<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>-->

<div class="row collapse">
<div class="small-9 small-offset-3 columns">
<%= link_to 'Show', @product, class: "button radius small mart-left" %> |
<%= link_to 'Back', products_path, class: "button radius small mart-right" %>
</div>
</div>

